.swiper-container {
  width: 100%;
  padding: 20px 0;
  position: relative;
  margin-bottom: 10px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 100%; /* Гарантуємо, що слайд займає всю ширину */
  max-width: 400px; /* Обмежуємо максимальну ширину */
  min-height: 420px; /* Базовий розмір */
}

.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--button-bg);
  color: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease, transform 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: var(--title-color);
  color: var(--bg-color);
  transform: scale(1.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px;
  color: var(--title-color);
  transition: transform 0.3s ease, color 0.3s ease;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  transform: scale(1.2);
  color: black;
}

.swiper-button-prev {
  left: 5px;
}

.swiper-button-next {
  right: 5px;
}

/* Центруємо пагінацію
.swiper-pagination {
  position: absolute;
  bottom: -15px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
} */

.swiper-pagination-bullet {
  background: var(--text-color);
  width: 10px;
  height: 10px;
  opacity: 0.6;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--title-color);
  transform: scale(1.1);
}

/* Адаптація для мобільних */
/* @media screen and (max-width: 768px) {
  .swiper-slide {
    min-height: 400px; 

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
  }

  .swiper-pagination {
    bottom: -20px; 
  }
}}*/

.project-container {
  border-bottom: var(--border-color);
  padding-bottom: 20px;
}
.project-title {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.project-item {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  height: auto;
  background-color: var(--bg-color-project);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  max-width: 360px;
  width: 100%;
  min-height: 380px;
}

.project-item:hover {
  box-shadow: 5px 10px 20px rgba(255, 255, 255, 0.3);
  transform: translateY(-20px);
}
.project-img {
  width: auto;
  /* height: auto; */
  height: 180px;
  border-radius: 5px;
  padding-bottom: 20px;
  object-fit: contain;
}
.project-item-title {
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 8px;
}
.project-item-text {
  text-align: center;
  font-size: 14px;
  /* margin: 0 auto; */
  padding-bottom: 20px;
}

.project-btn-content {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
}
.project-btn {
  background: var(--button-bg);
  color: var(--text-color);
  border-radius: 10px;
  padding: 12px;
  padding-bottom: 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.project-btn:hover {
  color: black;
  background: whitesmoke;
}

@media screen and (max-width: 480px) {
  .swiper-slide {
    min-height: 320px;
    max-width: 280px;
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
  }

  .swiper-pagination {
    bottom: -20px;
  }
  .project-title {
    font-size: 22px;
  }

  .project-item {
    min-height: 320px;
    max-width: 280px;
  }

  .project-item-title {
    font-size: 16px;
  }

  .project-item-text {
    font-size: 13px;
  }

  .project-btn {
    font-size: 12px;
    padding: 6px;
  }
}
@media screen and (max-width: 768px) {
  #items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .swiper-slide {
    min-height: 360px;
    max-width: 320px;
  }

  .project-item {
    min-height: 350px;
    max-width: 320px;
  }

  .project-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  #items {
    grid-template-columns: repeat(3, 1fr);
  }
  .swiper-slide {
    min-height: 400px;
    max-width: 380px;
  }

  .project-item {
    min-height: 420px;
    max-width: 380px;
  }
}
