.project-container {
  border-bottom: var(--border-color);
  padding-bottom: 20px;
}
.project-title {
  padding-top: 20px;
  text-align: center;
}

#items {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.project-item {
  padding: 13px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--bg-color-project);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  box-shadow: 5px 10px 20px rgba(255, 255, 255, 0.3);
  transform: translateY(-10px);
}
.project-img {
  width: 100%;
  object-fit: contain;
  padding-bottom: 20px;
}
.project-item-title {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 10px;
}
.project-item-text {
  font-size: 15px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.project-btn-content {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.project-btn {
  background: var(--button-bg);
  color: var(--text-color);
  border-radius: 10px;
  padding: 12px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.project-btn:hover {
  color: black;
  background: whitesmoke;
}

@media screen and (min-width: 768px) {
  #items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .project-title {
    font-size: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1158px) {
  #items {
    grid-template-columns: repeat(3, 1fr);
  }

  .project-title {
    padding-bottom: 40px;
  }
}
